body {
  margin: 0 auto;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  padding: 1.5rem;
  text-decoration: none;
}
