body {
  margin: 0 auto;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: #000;
  font-weight: 600;
  padding: 1.5rem;
  text-decoration: none;
}

.hero {
  display: flex;
}

.hero img {
  width: 200px;
}

/* footer {
  display: grid;
  grid-template-columns: (3, 100px);
} */
